-r requirements.txt
pytest>=8.4.1
pytest-cov>=6.2.1
pytest-django>=4.11.1
pytest-playwright>=0.7.0
django-extensions>=4.1.0
black>=25.3.0
flake8>=7.2.1
isort>=5.15.0
mypy>=1.15.0
pre-commit>=4.2.0
tox>=4.23.2
factory-boy>=3.4.0