pandas>=2.3.0
openpyxl>=3.1.5
xlrd>=2.0.1
pydantic>=2.11.0
sqlalchemy>=2.0.43
psycopg2-binary>=2.9.10
django>=5.2.0
djangorestframework>=3.16.0
python-dotenv>=1.1.1
pydantic-settings>=2.10.0
click>=8.2.1
rich>=14.1.0